In [11]:
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df=pd.read_csv('T1.csv')
df.head()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
0,01 01 2018 00:00,380.047791,5.311336,416.328908,259.994904
1,01 01 2018 00:10,453.769196,5.672167,519.917511,268.641113
2,01 01 2018 00:20,306.376587,5.216037,390.900016,272.564789
3,01 01 2018 00:30,419.645905,5.659674,516.127569,271.258087
4,01 01 2018 00:40,380.650696,5.577941,491.702972,265.674286

In [13]:
df.tail()

,Date/Time,LV ActivePower (kW),Wind Speed (m/s),Theoretical_Power_Curve (KWh),Wind Direction (°)
50525,31 12 2018 23:10,2963.980957,11.404030,3397.190793,80.502724
50526,31 12 2018 23:20,1684.353027,7.332648,1173.055771,84.062599
50527,31 12 2018 23:30,2201.106934,8.435358,1788.284755,84.742500
50528,31 12 2018 23:40,2515.694092,9.421366,2418.382503,84.297913
50529,31 12 2018 23:50,2820.466064,9.979332,2779.184096,82.274620

In [14]:
df.count()

Date/Time                        50530
LV ActivePower (kW)              50530
Wind Speed (m/s)                 50530
Theoretical_Power_Curve (KWh)    50530
Wind Direction (°)               50530
dtype: int64

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50530 entries, 0 to 50529
Data columns (total 5 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Date/Time                      50530 non-null  object
 1   LV ActivePower (kW)            50530 non-null  float64
 2   Wind Speed (m/s)               50530 non-null  float64
 3   Theoretical_Power_Curve (KWh)  50530 non-null  float64
 4   Wind Direction (°)             50530 non-null  float64
dtypes: float64(4), object(1)
memory usage: 1.9+ MB

In [16]:
x=df.drop(['Theoretical_Power_Curve (KWh)','Date/Time'],axis=1)

In [18]:
y=df['Theoretical_Power_Curve (KWh)']

In [ ]:
#without train test split methos accuracy

In [20]:
from sklearn.linear_model import LinearRegression

In [21]:
# Make a linear regression instance
reg = LinearRegression(fit_intercept=True)

In [22]:
reg.fit(x,y)

LinearRegression()

In [23]:
reg.predict(x[0:10])

array([586.05798475, 676.4405215 , 525.65811203, 654.5931738 ,
       623.43770256, 639.79727052, 692.08641223, 590.15482347,
       675.66078568, 651.00631672])

In [24]:
y[0:10]

0    416.328908
1    519.917511
2    390.900016
3    516.127569
4    491.702972
5    499.436385
6    557.372363
7    414.898179
8    493.677652
9    475.706783
Name: Theoretical_Power_Curve (KWh), dtype: float64

In [25]:
score = reg.score(x, y)
print(score)

0.9389403441374213

In [26]:
reg.coef_

array([  0.55167265, 148.46450053,  -0.44621964])

In [27]:
reg.intercept_

-296.13401001557963

In [28]:
m = reg.coef_[1]

b = reg.intercept_

# following slope intercept form 
print("formula: y = {:.2f}x + {:.2f}".format(m, b) )

formula: y = 148.46x + -296.13

In [ ]:
#with train test split method accuracy score

In [29]:


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [30]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.25, random_state = 10)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(37897, 3) (12633, 3) (37897,) (12633,)

In [31]:
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression()

In [32]:
y_pred = regressor.predict(x_test)
df_predict = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df_predict

            Actual    Predicted
1080     27.015949    82.981610
29471     0.000000    89.496594
8182   3600.000000  4175.107188
43763   924.067468  1134.667106
50134   380.779001   600.760003
...            ...          ...
37891  3600.000000  4226.354342
7322   3224.616390  1377.793400
1805   3152.381183  2996.350759
22745  1536.395632  1540.147834
1369      0.000000  -279.352890

[12633 rows x 2 columns]

In [34]:

from sklearn.metrics import mean_squared_error, r2_score

r2_score(y_test, y_pred)

0.9372768241033488